<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sampah</title>
</head>
<body>
    <div class="page flex flex-col">
        <div class="navbar h-20 w-screen bg-emerald-500 text-xl text-white">
            <p class="trash mt-6 ml-4">Trash Classifier</p>
        </div>
        <form method='post' enctype=multipart/form-data>
        <div class="content flex flex-col">
            <div class="upload flex flex-col border-dashed border-4 border-black h-64 mt-12 mx-6 rounded-3xl bg-green-200">
                <div class="icon text-8xl text-green-700 mt-8 mx-32 w-screen">
                    <i class="fa-solid fa-upload"></i>
                </div>
                <div class="text-upload ml-32 mr-28 w-screen mt-8 font-bold text-green-600">
                    <p>Upload Image</p>
                    <input type="file" name="file">
                    
                </div>
            </div>
                <div class="button flex flex-row mt-8 mx-6 ">
                    <input type="submit" value="Upload" class="rounded-lg bg-emerald-500 justify-center items-center drop-shadow-lg font-bold text-white w-screen p-2">
                </div>
            </div>
        </form>
    </div>
    <script>
    </script>
</body>
</html>